<section>
  <div class="bg-custom-grey p-3 rounded-lg w-fit text-white">
    <h2 class="text-sky-500 text-3xl">Filters</h2>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Stat</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="new-cases">New Cases</label>
          <input type="checkbox" id="new-cases" />
        </div>
        <div class="checkbox-container">
          <label for="cumulative-cases">Cumulative Cases</label>
          <input type="checkbox" id="cumulative-cases" />
        </div>
        <div class="checkbox-container">
          <label for="deaths">Deaths</label>
          <input type="checkbox" id="deaths" />
        </div>
        <div class="checkbox-container">
          <label for="new-recovered">New Recovered</label>
          <input type="checkbox" id="new-recovered" />
        </div>
        <div class="checkbox-container">
          <label for="cumulative-recovered">Cumulative Recovered</label>
          <input type="checkbox" id="cumulative-recovered" />
        </div>
      </div>
    </div>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Location</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="federal">Federal</label>
          <input type="checkbox" id="federal" />
        </div>
        <div class="checkbox-container">
          <label for="provincial">Provincial</label>
          <input type="checkbox" id="provincial" />
        </div>
        <div class="checkbox-container">
          <label for="regional">Regional</label>
          <input type="checkbox" id="regional" />
        </div>
      </div>
    </div>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Time</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="start-date">Start Date</label>
          <input type="date" id="start-date" />
        </div>
        <div class="checkbox-container">
          <label for="end-date">End Date</label>
          <input type="date" id="end-date" />
        </div>
      </div>
    </div>
  </div>
</section>
