<section>
  <div class="bg-custom-grey p-3 rounded-lg w-fit text-white">
    <h2 class="text-sky-500 text-3xl">Filters</h2>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Stat</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="new-cases">New Cases</label>
          <input
            type="checkbox"
            id="new-cases"
            name="cases"
            [checked]="statsChecked.cases"
            (change)="onStatsChanged($event)"
          />
        </div>
        <div class="checkbox-container">
          <label for="cumulative-cases">Cumulative Cases</label>
          <input
            type="checkbox"
            id="cumulative-cases"
            name="cumulativeCases"
            [checked]="statsChecked.cumulativeCases"
            (change)="onStatsChanged($event)"
          />
        </div>
        <div class="checkbox-container">
          <label for="new-deaths">New Deaths</label>
          <input
            type="checkbox"
            id="new-deaths"
            name="deaths"
            [checked]="statsChecked.deaths"
            (change)="onStatsChanged($event)"
          />
        </div>
        <div class="checkbox-container">
          <label for="cumulative-deaths">Cumulative Deaths</label>
          <input
            type="checkbox"
            id="cumulative-deaths"
            name="cumulativeDeaths"
            [checked]="statsChecked.cumulativeDeaths"
            (change)="onStatsChanged($event)"
          />
        </div>
        <div class="checkbox-container">
          <label for="new-recovered">New Recovered</label>
          <input
            type="checkbox"
            id="new-recovered"
            name="recovered"
            [checked]="statsChecked.recovered"
            (change)="onStatsChanged($event)"
          />
        </div>
        <div class="checkbox-container">
          <label for="cumulative-recovered">Cumulative Recovered</label>
          <input
            type="checkbox"
            id="cumulative-recovered"
            name="cumulativeRecovered"
            [checked]="statsChecked.cumulativeRecovered"
            (change)="onStatsChanged($event)"
          />
        </div>
      </div>
    </div>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Location</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="federal">Federal</label>
          <input type="checkbox" id="federal" />
        </div>
        <div class="checkbox-container">
          <label for="provincial">Provincial</label>
          <input type="checkbox" id="provincial" />
        </div>
        <div class="checkbox-container">
          <label for="regional">Regional</label>
          <input type="checkbox" id="regional" />
        </div>
      </div>
    </div>
    <div class="py-2">
      <h3 class="text-indigo-400 text-xl">Time</h3>
      <div class="flex gap-2">
        <div class="checkbox-container">
          <label for="start-date">Start Date</label>
          <input type="date" id="start-date" />
        </div>
        <div class="checkbox-container">
          <label for="end-date">End Date</label>
          <input type="date" id="end-date" />
        </div>
      </div>
    </div>
  </div>
</section>
