@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-charts {
  fill: white;
}

.legend-title-text {
  color: white;
}
